SECRET_KEY_BASE=8GKhqbMte7rsn2NuSChnWGIZs5T7D8kXTeKIrdYDfGSEKcW6I4bnaxmC8nDpneSs

POSTGRES_USER=postgres
POSTGRES_PASSWORD=aBWqTQvdbTQ163Mn6Dw6D09jx
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=staple